* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Header Start From Here  */
header {
  height: 809px;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.container {
  width: 1140px;
  margin: 0 auto;
  background-color: lightpink;
}
.possible {

  /* padding: 210px 0px 0px 621px; */
  
  text-align: right;
}
.possibleHeader {
  width: 525px;
  text-align: right;
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
}
