* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #fff;
}
/* Header Start From Here  */
header {
  height: 809px;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  /* background-color: aqua; */
}
.possible {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* padding: 210px 0px 0px 621px; */

  /* text-align: right; */
}
.possibleHeader {
  max-width: 525px;
  color: #151414;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
  text-align: right;
  margin-top: 210px;
  margin-bottom: 24px;
}
.possibleParagraph {
  margin-bottom: 32px;
  text-align: right;
  max-width: 494px;
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.possibleButton {
  padding: 25px;
  width: 180px;
  height: 70px;
  border-radius: 5px;
  background-color: #f15b22;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}

/* secondSection Start Here  */
.secondSection {
  margin-top: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}
.secondSectionRight > h2 {
  max-width: 288px;
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.secondSectionRight > p {
  max-width: 416px;
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.secondSectionRight ul {
  margin-top: 16px;
}
.secondSectionRight ul li {
  margin-bottom: 10px;
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.secondSectionRight ul li::before {
  content: "✓";
  max-width: 24px;
  max-height: 24px;
  color: #16d887;
  margin-right: 10px;
}

/* secondSection Complete Here  */

/* thirdSection Starts Here  */
.thirdSection{
  margin-top: 130px;
  margin-bottom: 130px;
}
.thirdSectionHeaderOne{
text-align: center;
color:#151414;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.thirdSectionSkills{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.thirdSectionSkillImage{
margin-top: 50px;
 margin-bottom: 24px;
max-width:93px;
max-height: 93px;
}

.thirdSectionSkillHeaderThree{
  margin-bottom: 16px;
  color:  #151414;
  text-align: center;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;

}
.thirdSectionSkillParagraph{
color:  #737272;
text-align: center;
font-family: Work Sans;
font-size: 25px;
font-weight: 500;
}

/* thirdSection Ends Here  */


 /* FourthSection Starts Here  */

 .fourthSection{
  background-image: url('../images/watch.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 130px;
 }

 .fourthSectionSecondImage{
  background-image: url('../images/gradient2.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 64px;
  height: 300px;
 }

 .fourthSectionHeaderOne{
padding-top: 60px;
padding-bottom: 24px;
color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
width: 459px;
 }
.fourthSectionButton{
background-color: #FFFFFF;
color: #F15B22;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
padding: 20px 36px;
border: none;

}
